/* GLOBAL STYLES */

body {
    font-family: 'Merriweather', serif;
    color: #67696b;
}

.container {
   padding: 0.875rem;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 0.75rem;
}

footer p {
    margin-top: 1.2rem;
}

/* HEADER STYLES */

header {
    background-color: #2e3e4f;
    margin-top: 0;
}

h1 {
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.35rem;
    padding: 1.25rem 0;
    text-transform: uppercase;
}

/* SECTION ONE */

h2 {
    text-align: center;
    margin: 0;
    padding-top: 0.75rem;
    font-size: 1.15rem;
    color: #2e3e4f;
}

.section-one p {
   font-size: 0.85rem;
   text-align: center;
   padding-bottom: 1.15rem;
}

/* FORM STYLES */

form {
    display: flex;
    flex-wrap: wrap;
}

legend {
    color: #2e3e4f;
    font-weight: 700;
    padding: 1.15rem 0;
}

.set-one label {
    width: 100%;
}

.set-one input {
    width: 97%;
}

.set-one select {
    width: 100%;
}

.line-one {
    height: 4px;
    background-color: #2e3e4f;
    border: none;
    margin: 4px 0;
    width: 100%;
}

.line-two {
    height: 2px;
    background-color: #2e3e4f;
    border: none;
    margin: 4px 0;
    display: flex;
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
}

input {
    margin: 0.875rem 0;
    background-color: #e2e2e2;
    padding: 0.6rem 0.3rem;
    border: none;
    border-radius: 5px;
}

:focus {
    outline-offset: -2;
    outline-color: #2e3e4f;
    outline-style: auto;
    outline-width: 5px;
}

::placeholder {
    text-align: right;
    font-style: italic;
    font-size: 0.85rem;
    padding-right: .5rem;
    color: #bbbaba;
}

select {
    margin: 0.875rem 0;
    font-size: 0.85rem;
    color: #bbbaba;
}

label {
    font-size: 0.85rem;
}

div {
    display: block;
}

.text-area {
    margin-top: 1rem;
}

textarea {
    background-color: #e2e2e2;
    width: 98%;
    border: none;
    margin-top: .5rem;
    resize: none;
    height: 5rem;
    border-radius: 5px;
}

select {
    background-color: #e2e2e2;
    width: 98%;
    border: none;
    color: #67696b;
    padding: 0.6rem 0.3rem; 
}

button {
    width: 99.5%;
    background-color: #03ccb5;
    color: white;
    text-align: center;
    border: none;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 5px;
}